---
http_interactions:
- request:
    method: post
    uri: https://onesignal.com/api/v1/players
    body:
      encoding: UTF-8
      string: '{"device_type":1,"app_id":"22bc6dec-5150-4d6d-8628-377259d2dd14"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"99c167edb3f876827c2269cdbd142121"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"id":"386ad9c3-2af7-40ce-a50c-5cd70f7a2d34"}'
  recorded_at: Tue, 07 Jan 2020 00:41:03 GMT
- request:
    method: get
    uri: https://onesignal.com/api/v1/players/386ad9c3-2af7-40ce-a50c-5cd70f7a2d34?app_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic test
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8a4c44700d1226dda0d1633531a4a4a3"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"386ad9c3-2af7-40ce-a50c-5cd70f7a2d34","identifier":null,"session_count":1,"language":"en","timezone":null,"game_version":null,"device_os":null,"device_type":1,"device_model":null,"ad_id":null,"tags":{},"last_active":1578357664,"playtime":0,"amount_spent":0.0,"created_at":1578357664,"invalid_identifier":true,"badge_count":0,"sdk":null,"test_type":null,"ip":"210.8.247.26","external_user_id":null}'
  recorded_at: Tue, 07 Jan 2020 00:41:04 GMT
recorded_with: VCR 4.0.0
